html{
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
/* Navigation styles */

.navbar-default .navbar-nav>li.active>a {
  color: #399bd1;
  font-size: 1.1rem;
  font-weight: bold;
}

.jumbotron-bike{
  background-image: url("../images/jumbotron-bike.jpg");
}
.jumbotron{
  text-shadow: 1px 1px 0 #000;
  text-shadow: -1px 1px 0 #000;
  text-shadow: 1px -1px 0 #000;
  text-shadow: -1px -1px 0 #000;
  color:white;
  text-align: center;
  height: 44rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner-text{
  padding-top: 11.85rem;
  text-align: center;
}
.banner-text h1{
  font-family:"Monoton",sans-serif;
  font-size: 7.1rem;
}
.banner-text p{
  max-width: 51.3rem;
  margin:0 auto;

}
 .btn-primary{
  padding:1.3rem 0;
  width: 11.4rem;
  margin-top: 2.8rem;
}
